<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="assets/favicon.ico" />
    <link rel="apple-touch-icon" href="assets/logo192.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Webapp that provides alternate ui for listening to Spotify playlists."
    />
    
    <title>Vinyl Shop</title>
    <link rel="stylesheet" href="app.css">
    <script src="jquery-3.5.1.slim.min.js"></script>
  </head>
<body>